header {
    min-height: 10vh;
}

.navbar {
    min-height: 10vh;
}

main {
    min-height: 80vh;
}

footer {
    min-height: 10vh;
}

.logoAmazingEvents {
    width: 20vh;
}

.listDetailsMenu {
    display: none;
}

.carousel-item {
    height: 12rem;
}

#carouselExampleCaptions img {
    object-fit: cover;
    height: 100%;
}

.tituloCarrusel {
    text-shadow: 0rem 6px 7px black;
    }

.infoDelBanner {
    background: linear-gradient(#00000002, #00000099);
    color: white;
    background-blend-mode: overlay;
}

