header {
    min-height: 10vh;
}

main {
    min-height: 80vh;
}

footer{
    min-height: 10vh;
}

.logoAmazingEvents {
    width: 20vh;
}

.listDetailsMenu {
    display: none;
}

.carousel-item {
    height: 50vh;
}

#carouselExampleCaptions img {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
}

.tituloCarrusel {
    text-shadow: 0rem 6px 7px black;;
    font-size: 6rem;
}



